.weatherDisplay{
    width: 130px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px;
    height: 200px;
    border: 3px solid blue;
    background: rgba(204, 204, 204, 0.7);
    overflow: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 5px;
    
}

    .weatherDisplay > *{
        text-align: center;
        margin: 0 auto;
    }
    
.day{
    width:100%;
}

.imgDiv{
    width:100%;
    background: rgba(120, 120, 120, 0.7);
    border-radius: 10px;
}