.weatherDisplay{
    width: 200px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 3px;
    height: 250px;
    background: rgba(204, 204, 204, 0.7);
    overflow: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    text-decoration: none !important;
    color: black;
    font-size: 15px;

    
}
.weatherDisplay:hover{  
    background: rgba(120, 120, 120, 0.9);
    }

    .weatherDisplay > *{
        text-align: center;
        margin: 0 auto;
    }
    
.day{
    width:100%;
}

.name{
    text-decoration-line: underline;
    font-size: 20px;
}

.temperture{
    font-size: 30px;
}