.container-fluid{
    padding: 0px;
    margin: 0px;
    font-family: 'Gamja Flower', cursive;
    background:#e6faff;
    height: 100%;
}

.row{
    margin: 0px;
}

main{
    border: 3px solid white;
    padding: 0px; 
    margin: 0 auto; 
}