.container-fluid{
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
}

.row{
    border: 1px solid blue;
}

.row > *{
    border: 1px solid red;
    
}
main{
    border: 5px solid blue;
    padding: 0px;
    margin: 0px;
}