<h1 mat-dialog-title>  {{data.title}}</h1>
<hr>
<div mat-dialog-content class="content">

        <div>
                {{data.text}}
         </div>
<div>
       {{data.message}}
</div>
 <!-- <mat-form-field>
        <input matInput type="number" placeholder="quantity" min="1" [(ngModel)]="data.quantity" name="quantity" [value]="1">
    </mat-form-field>> -->


    <!-- <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">No Thanks</button>
        <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
    </div> -->
</div>
