
.container-fluid{
    background-color:#b3f0ff;
    height: 100%;
    background-image: url('../../../assets/images/sun1.jpg');
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;

}
.row{
    border: 2px solid white;
}
.forecastBoard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2%;
}


.heart:hover{
    width: 53px;
}

.currentWeather{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.name{
    text-decoration-line: underline;
    font-size: 30px;
}
.CurrentDisplay{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.temperture{
    font-size: 30px;
}

.space{
    height: 50px;;
}
