
      <form class="example-form">
            <mat-form-field class="example-full-width">
              <input type="text" placeholder="Pick a city" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="searchValue" (keyup)="search()" >
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions" [value]="option.name" (click)="Selected(option.id, option.name)" >
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>